.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.imgcenter {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 35vw;
}

@media (max-width: 75em) {
  .imgcenter {
    margin-left: 30%;
  }
}
@media (max-width: 57em) {
  .imgcenter {
    margin-left: 20%;
  }
}
@media (max-width: 44em) {
  .imgcenter {
    margin-left: 15%;
  }
}
@media (max-width: 37em) {
  .imgcenter {
    margin-left: 0;
  }
}
